.m-slider {
  height: 100%;

  .img-container {
    overflow: hidden;
  }

  img {
    position: absolute;
    border-radius: 10px;
    top: 0;
    left: 0;
    width: 200px;
    height: 300px;
    box-shadow: 5px 5px 5px black;
    transition: all 0.2s ease-in-out;
  }

  img:hover {
    filter: brightness(0.8);
    box-shadow: 5px 10px 10px rgb(131, 131, 131);
  }

  span {
    position: relative;
    top: 320px;
    color: var(--color-text);
    font-weight: 700;
    text-transform: uppercase;
  }
}

.swiper-button-prev {
  width: 40px;
  height: 40px !important;
  background-color: rgba(0, 0, 0, 0.6);
  // border: 3px solid gray;
  border-radius: 100%;
  position: absolute;
  top: calc(50% - 40px);
  transition: all 0.3s ease-in-out;

  &::after {
    font-weight: 900;
    color: rgb(220, 220, 220);
    font-size: 27px;
    position: relative;
    right: 3px;
  }

  // &:hover {
  //   border-color: red;
  // }

  // &:hover::after {
  //   color: red;
  // }
}

.swiper-button-next {
  width: 40px;
  height: 40px !important;
  background-color: rgba(0, 0, 0, 0.6);
  // border: 3px solid gray;
  border-radius: 100%;
  position: absolute;
  top: calc(50% - 40px);
  right: 15px;
  transition: all 0.3s ease-in-out;

  &::after {
    font-weight: 900;
    color: rgb(220, 220, 220);
    font-size: 27px;
    position: relative;
    left: 3px;
  }

  // &:hover {
  //   border: 3px solid red;
  // }

  // &:hover::after {
  //   color: red;
  // }
}
