.mymovies-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px;
  padding: 20px 10px;
}

.myMoviesPaginationContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.noHasMovies {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 700px;

  > h1 {
    font-size: 30px;
    color: rgb(128, 128, 128);
  }

  > img {
    max-width: 100%;
    max-height: 50%;
    filter: brightness(0.7);
  }
}
