.myDataContainer {
  color: rgb(165, 165, 165);
  width: 500px;
  margin: 0 auto;

  & h1 {
    margin: 20px 0;
    font-size: 40px;
  }

  > form {
    display: flex;
    flex-direction: column;

    & label {
      margin-top: 10px;
      margin-bottom: 3px;
      display: block;
    }

    & input {
      height: 30px;
      border-radius: 5px;
      border: none;
      font-size: 16px;
      padding-left: 5px;

      &:focus {
        box-shadow: 0 0 0 0;
        outline: 0;
      }
    }

    & button {
      height: 40px;
      width: 150px;
      margin-top: 20px;
      margin-left: auto;
      border-radius: 10px;
      font-size: 18px;
      font-weight: 700;
      color: rgb(216, 216, 216);
      background-color: rgb(177, 49, 49);
      transition: filter 0.2s;

      &:hover {
        filter: brightness(0.8);
      }
    }
  }
}
