.mcp-container {
  background-color: #e7e7e7;
  width: 100%;
  border-radius: 10px;
  color: rgb(77, 77, 77);
  margin-top: 20px;
  display: flex;
  box-shadow: 3px 3px 3px black;

  & .mcp-image-container {
    padding: 10px;
    border-right: 1px solid gray;

    & img {
      width: 100px;
      height: 150px;
    }
  }

  & .mcp-content-container {
    padding: 10px;
    flex: 1;
    display: flex;

    & .mcp-content-data-container {
      flex: 1;

      & h2 {
        font-size: 1.2rem;
        font-weight: 700;
      }

      & h2,
      p {
        margin-bottom: 3px;
      }

      & .mcp-genre-tag-container {
        margin-top: 4px;
      }
    }

    & .mcp-content-buttons-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 10px;

      & a,
      button {
        width: 120px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        border: 1px solid gray;
        padding: 10px;
        border-radius: 10px;
        font-weight: 700;
        color: gray;
        transition: all 0.2s ease-in-out;
      }

      & a:hover {
        border-color: yellowgreen;
        color: yellowgreen;
      }

      & button:hover {
        border-color: darkred;
        color: darkred;
      }
    }
  }
}
