* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-title: rgb(255, 70, 0);
  --color-border: rgb(170, 170, 170);
  --color-text: white;
  --color-background: rgb(44, 44, 44);
  --color-text-logo: #e00710;
  --color-navbar: rgb(252, 69, 69);
  --color-title-topic: rgb(212, 44, 44);
  --color-content-topic: rgb(156, 156, 156);
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--color-background);
}

input {
  font-family: "Roboto", sans-serif;
}

button {
  border: none;
  cursor: pointer;
  background: transparent;
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.invalid-feedback {
  color: red;
}

.react-modal-overlay {
  background: rgba(0, 0, 0, 0.5);

  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

.react-modal-content {
  width: 100%;
  max-width: 576px;
  background: white;
  padding: 3rem;
  position: relative;
  border-radius: 0.25rem;
}

.react-modal-close {
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
  border: 0;
  background: transparent;
  transition: filter 0.2 ease-in-out;

  &:hover {
    filter: brightness(0.8);
  }
}
