.sm-container {
  margin-top: 20px;

  div {
    h1 {
      font-size: 30px;
      color: var(--color-title);
      font-weight: 700;
      text-align: right;
      text-transform: uppercase;
    }

    & + div {
      margin-top: 5px;
      height: 400px;
      text-align: center;
      font-size: 15px;
      font-weight: 400;
    }
  }
}

.sm-movie-slider-container {
  border: 10px solid var(--color-border);
  border-radius: 30px;
  padding: 10px;
}
