.sm-container {
  margin-top: 20px;

  div {
    text-align: right;
    font-size: 30px;
    font-weight: 700;
    color: yellow;
    text-transform: uppercase;

    & + div {
      margin-top: 5px;
      height: 400px;
      text-align: center;
      font-size: 15px;
      font-weight: 400;
    }

    & .swiper-button-prev {
      color: black;
      margin-top: -210px;
    }

    & .swiper-button-prev::after {
      font-weight: 900;
    }

    & .swiper-button-next {
      color: black;
      margin-top: -210px;
    }

    & .swiper-button-next::after {
      font-weight: 900;
    }
  }
}
